/*
 Theme Name:   Evil Kitteh Studios 2021
 Description:  Twenty Seventeen Child Theme
 Author:       Jen McQuade
 Author URI:   https://jmcquade.com
 Template:     twentyseventeen
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         responsive-layout, accessibility-ready
 Text Domain:  eks2021
*/

.grecaptcha-logo, .grecaptcha-badge {
	display: none !important;
}